name: test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - 'docs/**'
      - 'config/**'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@v3.5.0
        with:
          go-version: "1.22"
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Restore cache
        uses: actions/cache@v3.0.10
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build
        run: make build
      - name: Test
        run: make test
      - name: Test
        run: make lint-fix
      - name: Lint
        run: make lint
